* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(#3e141466, #3e141466), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 600;
    position: relative;
    height: 100vh;
    color: #555;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

input, button {
    border: none;
    background: none;
    text-align: center;
}

button {cursor: pointer;}

input:focus, button:focus {
    outline: none;
}

.wrapper {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#bet:focus, #profit:focus, #balance:focus, #multiplier:focus #chance:focus, #under-over:focus {
    border: 1px solid #EB4D4D; }

#bet, #balance, #profit, #multiplier, #chance, #under-over{
    position: absolute;
    outline: none;

    width: 20%;
    height: 5%;

    border-radius: 2px;
    
    font-family: Lato;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;

    color: #555;
    background: #f1f1f1;
    border: 1px solid #555;
    transform: translateX(-50%);
}

#balance-text, #bet-text, #profit-text, #multiplier-text, #chance-text {
    position: absolute;

    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #EB4D4D;
}

#bet {padding-left: 15px; left: 33%; top: 47%;}
#bet::placeholder { font-family: Lato; font-size: 18px;}
#bet-text {top: 43.5%; left: 23%;}

#balance {top: 37%; left: 33%;}
#balance-text {top: 33.5%; left: 23%;}

#profit {top: 37%; left: 55%;}
#profit-text {top: 33.5%; left: 45%;}

.blw {
    position: absolute;

    width: 42%;
    height: 5%;

    left: 29.39%;
    top: 57%;
}

#multiplier, #chance, #under-over {position: relative; height: 100%; width: 30%;}
#multiplier, #chance {margin-right: 4.2%;}
#under-over {top: -1.8px;}

#multiplier-text {left: 23%; top: 53.5%;}
#chance-text {left: 37.7%; top: 53.5%;}

.multiply-bet {
    position: absolute;

    height: 5%;
    width: 30%;
    top: 47%;
    left: 45%;
}

#min, #max, #double, #half, .btn-bet{
    background-color: #EB4D4D;

    height: 100%;

    font-family: Lato;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    padding-right: 6.4px;
    padding-left: 6.4px;
}

.btn-bet {
    position: absolute;

    width: 42%;
    height: 6%;

    left: 23%;
    top: 65.5%;

    border-radius: 5px;
    padding-left: 20px;
    letter-spacing: 10px;
    font-size: 20px;
}

i {
    vertical-align: text-top;
    
    font-size: 25px;
    line-height: 1;
    color: #EB4D4D;
}

.box {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    left: 27%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px #ffffff20;
}

.box .percent {
    position: relative;
    
    width: 150px;
    height: 150px;

    transform: rotate(90deg);
}

.box .percent svg {
    position: relative;
    
    width: 150px;
    height: 150px;
}

.box .percent svg circle {
    width: 150px;
    height: 150px;
    
    stroke: #EB4D4D;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
    stroke-width: 10;
    
    fill: none;
    transform: translate(5px, 5px);
    transition: 0.8s ease;
}

.box .percent svg circle:nth-child(1) {stroke-dashoffset: 0; stroke: #cacaca;}
.box .percent svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 1) / 100);
    stroke: #EB4D4D;
}

.box .percent .number {
    display: flex;
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}

.box .percent .number input {
    font-size: 48px;
    width: 54px;

    float: right;

    color: #EB4D4D;
}

.btn-money {
    position: absolute;

    top: 0;
    right: 5px;
    padding: 5px;
}
.btn-money i {margin: 0; font-size: 38px;}
